certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
idna==2.7
kiwisolver==1.0.1
numpy==1.15.2
opencv-python==3.4.3.18
pandas==0.23.4
Pillow==5.3.0
pip==18.1
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
setuptools==40.4.3
six==1.11.0
urllib3==1.23
